
<body>
  <div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
      <div class = "logo">
        <h4 class = "text-gold font-weight-bold"> TEST MENU</h4>
      </div>
          <div class="menu">
            <a href="#" class="d-block text-gold p-3"><i class="icon ion-md-apps mr-2 lead"></i>Obras</a>
            <a href="#" class="d-block text-gold p-3"><i class="icon ion-md-people"></i>Obras</a>
            <a href="#" class="d-block text-gold p-3"><i class="icon ion-md-stats"></i>Obras</a>
            <a href="#" class="d-block text-gold p-3"><i class="icon ion-md-person"></i>Obras</a>
          </div>
    </div>
  </div>
</body>


<!--  
<div [hidden]="!isLogged">
    <header>
        <h4 class="username">Admin</h4>
       <i (click)="clickIcon()" class="glyphicon glyphicon-user"></i>
    </header>


    <div class="sidebar" class="bg-primary">
        <div class="head">
          <img class="logo" src="assets/img/ispt_635x635.png" alt="logo">
          <h4 class="title" *ngIf="sidebarOpen" >Gestion de Seguros y Pólizas</h4>
        </div>
        <div class="body">
          <ul routerLink="/index" routerLinkActive="active">
              <i class="glyphicon glyphicon-home"></i>
              <h5 *ngIf="sidebarOpen">Lar</h5>
          </ul>
          <ul routerLink="/listEmpresas" routerLinkActive="active">
            <i class="glyphicon glyphicon-pencil"></i>
            <h5 *ngIf="sidebarOpen">Empresas</h5>
        </ul>
          <ul routerLink="/listObras" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              <h5 *ngIf="sidebarOpen">Obras</h5>
          </ul>
          <ul routerLink="/listVehiculos" routerLinkActive="active">
              <i class="far fa-file-alt"></i>
              <h5 *ngIf="sidebarOpen">Vehículos</h5>
          </ul>
          <ul (click)="logout()">
              <i class="fas fa-unlock-alt"></i>
              <h5 *ngIf="sidebarOpen">fechar Sessão</h5>
          </ul>
        </div>
      </div>
    </div>

    <div class="body-router">
        <router-outlet></router-outlet>
      </div>
      
   <app-loading></app-loading>
      <app-alert></app-alert>
      <app-pdf></app-pdf>>-->