.titulo_n3{
    text-align: center;
    margin: 0px;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(153, 153, 212);
}