<nav class="menu_principal">
    <ul>
        <li [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Inicio</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/obras']">Obras</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/empresas']">Empresas</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/usuarios']">Usuarios</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/polizas']">Polizas</a></li>
		<li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/vehiculos']">Vehículo</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/contacto']">Contacto</a></li>
    </ul>
</nav>